body {
  font-family: 'Roboto', sans-serif;
  color: maroon;
  background-color: #FFBDBD;
}

header {
  font-family: 'Roboto Slab', serif;
  background-color: maroon;
  color: white;
  padding: 10px;
  text-align: center;
}

.login-form {
  font-size: 1em;
  color: black;
  border: 1px solid #ccc;
  width: 500px;
  margin: 65px auto;
  padding: 35px 35px 35px 35px;
  background-color: pink;
}

.main-box {
  margin: 65px 65px 65px 300px;
  background-color: #FF7676;
  position: relative;
}

.main-rect {
  height: 800px;
  position: relative;
}

.topbar {
  height: 150px;
  margin: 75px 75px 75px;
  
}

.topbar input[type=text] {
  margin-left: 20%;
  margin-top: 50px;
  width: 350px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  color: #FF7676;
}

#category {
  margin-top: 50px;
  font-size: 22px;
  color: #FF7676;
  width: 200px;
  height: 50px;
}

.side-button {
  height: 64px;
  width: 210px;
  background-color: #FF7676;
  color: white;
  text-align: center;
  line-height: 60px; 
  left: 20px;
  top: 35%;
  position: absolute;
}

.shopping {
  top: 50%;
}

.help {
  top: 65%;
}

.column {
  float: left;
  padding: 0 10px;
  width: 20%;
}

.card {
  text-align: center;
  
}





