body {
    font-family: 'Roboto', sans-serif;
    color: maroon;
}

header {
    font-family: 'Roboto Slab', serif;
    background-color: maroon;
    color: white;
    padding: 10px;
    text-align: center;
}

.login-form {
    font-size: 1em;
    color: black;
    border: 1px solid #ccc;
    width: 500px;
    margin: 65px auto;
    padding: 35px 35px 35px 35px;
}

.search {
    margin: 100px;
    color: pink;
    
}

#semester {

}

#course-code {
    float: left;
    
}

#course-title {
    float: right;
}

#search-button {

}