body {
    font-family: 'Roboto', sans-serif;
    color: maroon;

}

header {
    font-family: 'Roboto Slab', serif;
    background-color: maroon;
    color: white;
    padding: 10px;
    text-align: center;
}

.login-form {
    font-size: 1em;
    color: black;
    border: 1px solid #ccc;
    width: 500px;
    margin: 65px auto;
    padding: 35px 35px 35px 35px;
    background-color: pink;
}

.side-button {
  height: 50px;
  width: 150px;
  background-color: #Ce437b;
  color: white;
  text-align: center;
  line-height:45px; 
  /*padding-botton: 100px;*/
  margin-left: 50px;
  margin-bottom: 250px;
}

.calendar {
  margin-top: 100px;



